body{
    background-color: rgb(17, 10, 22);
}

canvas{
    background-color: rgb(144, 83, 151);
    image-rendering: pixelated;
}

html{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 1.5em;
}
.nav-links li a {
    color: #f1f1f1;
    text-decoration: none;
    font-weight: 600;
    transition: color 0.3s;
}
.nav-links li a:hover {
    color: #c084fc;
}
.logo {
    font-size: 1.5em;
    font-weight: bold;
    color: #c084fc;
}