body{
    background-color: rgb(82, 65, 83);
}

canvas{
    background-color: rgb(32, 30, 37);
    image-rendering: pixelated;
}

html{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}